<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭收支簿</title>
  
  <link rel="stylesheet" href="../css/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootswatch/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <script defer src="https://kit.fontawesome.com/373c3dc15a.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">家庭記帳本</a>
    {{#if user}} <h2>{{user.name}} 您好</h2> {{/if}}

    {{#if isAuthenticated}}
      <a class="btn btn-outline-primary" href="../users/logout">登出</a>
    {{/if }}

  </div>
</nav>


  {{{ body }}}
  <script  src="/css/js/bootstrap.bundle.min.js"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

  </script>
</body>
</html>