<div class="container p-5">
  <div class="row justify-content-center">



    <div class="col-12 col-sm-8 mb-2">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>

      <p>總金額：</p>
      <h2 class="text-center">{{ totalAmount }}</h2>
    </div>

  
    <ul class="list-group col-sm-8 col-12 mb-3">
    {{#each expenses}}
      <li class="list-group-item d-flex justify-content-between align-items-center py-3">
        <img src="https://fontawesome.com/icons/home?style=solid" alt="">
        <div class="div">
          <h2>{{ this.name }}</h2>
          <span>{{dateFormat this.date }}</span>
        </div>
        <p class="fs-2">{{ this.amount }}</p>
        <div class="btn-group">
          <button class="btn btn-outline-info">修改</button>
          <button class="btn btn-outline-danger">刪除</button>
        </div>
        
      </li>
    {{/each}}
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul> 
    
    <div class="col-12 col-sm-8 d-flex justify-content-center"><a href="./new" class="btn btn-primary">新增支出</a></div>
    
  </div>

 
</div>