<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-4">
      <h1 class="text-center">登入</h1>
      <span>* 必填欄位</span>
    </div>
    <form class="row col-12 col-sm-8 mb-3" method="post" action="../users/login">
    <input type="hidden" value="{{expense.id}}" name="id">
         <div class="col-12 d-flex align-items-center mb-4">
            <label for="inputPassword" class="col-2">Email *：</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="email" name="email" >
          </div>
          <div class="col-12 d-flex align-items-center mb-4">
            <label for="password" class="col-2">密碼 *：</label>
            <input type="password" class="form-control" id="date"  name="password" >
          </div>

          <button class="btn btn-primary" type="submit">登入</button>
    </form>
    <div class="col-12 col-sm-8 mb-4">
      <p>沒有帳戶嗎？<a href="../users/register">點此註冊</a></p>
    </div>
    
  </div>
</div>