<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-4">
      <h1 class="text-center">登入</h1>
      <span>* 必填欄位</span>
    </div>
    <form class="row col-12 col-sm-8 mb-3 needs-validation" novalidate method="post" action="../users/login">
         <div class="col-12 mb-4">
            <label for="email" class="form-label">Email *：</label>
            <input type="text" class="form-control" id="email" placeholder="email" name="email" required>
            <div class="invalid-feedback">
              請輸入 email
            </div>
          </div>
          <div class="col-12 mb-4">
            <label for="password" class="form-label">密碼 *：</label>
            <input type="password" class="form-control" id="password"  name="password" required>
            <div class="invalid-feedback">
              請輸入密碼
            </div>
          </div>

          <button class="btn btn-primary" type="submit">登入</button>
    </form>
    <div class="col-12 col-sm-8 mb-4">
      <p>沒有帳戶嗎？<a class="text-decoration-underline" href="../users/register">點此註冊</a></p>
    </div>
    
  </div>
</div>

<script>
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })

</script>