<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-4">
      <h1 class="text-center">註冊</h1>
      <span>* 必填欄位</span>
      {{> message}}
    </div>
    <form class="row col-12 col-sm-8 mb-3 needs-validation" novalidate method="post" action="../users/register">
          
         <div class="col-12 mb-4">
            <label for="inputPassword" class="form-label">名稱：</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="名稱" name="name" required>
            <div class="invalid-feedback">
              請輸入名稱
            </div>
          </div>
          <div class="col-12 mb-4">
            <label for="email" class="form-label">Email *：</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="invalid-feedback">
            請輸入 email
          </div>
          <div class="col-12  mb-4">
            <label for="password" class="form-label">密碼 *：</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="invalid-feedback">
            請輸入密碼
          </div>
          <div class="col-12 mb-4">
            <label for="confirmPassword" class="col-2">確認密碼 *：</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required placeholder="請再次輸入密碼">
            <div class="invalid-feedback">
              請再次輸入密碼
            </div>             
          </div>

          <button class="btn btn-primary" type="submit">註冊</button>
    </form>
    <div class="col-12 col-sm-8 mb-4">
      <p>已經有帳戶？<a class="text-decoration-underline" href="../users/login">點此登入</a></p>
    </div>
    
  </div>
</div>

<script>
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })

</script>